:root {
  --primary: #0070f3;
  --on-primary: #fff;
  --secondary: #fafafa;
  --on-secondary: #000;
  --error: #f00;
  --on-error: #fff;
  --background: #fff;
  --on-background: #000;
  --font-monospace: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
  Bitstream Vera Sans Mono, Courier New, monospace;
  --font-default: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0070f3;
    --on-primary: #fff;
    --secondary: #111;
    --on-secondary: #fafafa;
    --error: #f00;
    --on-error: #fff;
    --background: #222;
    --on-background: #fff;
  }

  html {
    color-scheme: dark;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-default);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--on-background);
  background: var(--background);
}
