.container {
  z-index: 10;
  position: relative;
}

.header {
  display: flex;
  flex-flow: column;
  min-height: 65vh;
  justify-content: center;
}

.title {
  margin: var(--space-2xl-3xl) var(--space-s-m);
  font-size: var(--step-4);
  line-height: 1.15;
  text-align: center;
}

.intro {
  margin: var(--space-2xl-3xl) auto;
  text-align: center;
  max-width: 800px;
  line-height: 1.5;
  font-size: var(--step--1);
}

.code {
  font-family: var(--font-monospace);
}

.stepContainer {
  display: grid;
  grid-template: "a" "b" "c";
}

.stepSection--step1 {
  grid-area: a;
}

.stepSection--step2 {
  grid-area: b;
}

.stepSection--step3 {
  grid-area: c;
}

.statContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (min-width: 1600px) {
  .stepContainer {
    grid-template-areas: "a b" "a c";
    grid-template-columns: 1fr 2fr;
  }
}
