.wrapper {
  padding: 0 var(--space-s-m);
  min-height: 100vh;
  background: linear-gradient(180deg, #142019 0%, #101813 100%);
}

.footer {
  display: flex;
  flex: 1;
  margin-top: 2rem;
  padding: 2rem 0;
  border-top: 1px solid var(--background);
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

@media (prefers-color-scheme: light) {
  .wrapper {
    background: linear-gradient(180deg, #44a2f4 0%, #d5e1f4 100%);
  }
}
