.wrapper {
  padding: 0 var(--space-m-l);
  min-height: 100vh;
  background: linear-gradient(180deg, #142019 0%, #101813 100%);
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--background);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
