.container {
  height: 100vh;
  left: 0;
  max-width: 1800px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}

.fpsCounter {
  background: red;
  color: white;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0.5;
}

.canvas {
  height: 100%;
  width: 100%;
}
