.button {
  cursor: pointer;
  font-family: var(--font-default);
  border: none;
  transition: ease-in-out all 150ms;
  align-items: center;
    display: flex;
}
.button:disabled {
  filter: grayscale(1);
  cursor: not-allowed;
}
.button:hover:not(:disabled) {
  filter: saturate(4);
}
.button--primary {
  background: var(--primary);
  color: var(--on-primary);
}
.button--secondary {
  background: var(--secondary);
  color: var(--on-secondary);
}
.button--rainbow {
  background: linear-gradient(75deg, #0dba61, #06bce5);
  color: #042d2b;
}
.button--small {
  padding: 0.2rem .5rem;
  font-size: 0.8rem;
  border-radius: 5px;
}
.button--normal {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
}
