.container {
  margin: 1rem;
  padding: var(--space-s-m);
  text-align: left;
  border: 1px solid var(--on-background);
  border-radius: 10px;
}
.container__title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.container__paragraph {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}
