.inputWrap {
  width: 100%;
  position: relative;
}
.dummyButtonWrap {
  position: absolute;
  right: 0.75rem;
  bottom: 1rem;
  white-space: nowrap;
}
.actionContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: var(--space-2xs) 0;
}
.invalidJson {
  background: var(--error);
  color: var(--on-error);
  font-size: var(--font-size-sm);
  padding: var(--space-xs);
}
